$border-color: #b0b0b0;
$line-color: #b0b0b0;
$title-color: #42567a;
$gradient-color: linear-gradient(
  to bottom,
  #3877ee,
  #ef5da8
);
$circle-border-color: #8b8c8d;
$point-color: #42567a;

$year-style: (
  font-style: bebas-neue,
  font-weight: 700,
  font-size: 20px,
  line-height: 120%,
  letter-spacing: 0%,
  color: #3877ee
)
